In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv('iris_data.csv', names =['SepalLengthcm','SepalWidthcm','PetalLengthcm','PetalWidthcm','Species'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthcm  150 non-null    float64
 1   SepalWidthcm   150 non-null    float64
 2   PetalLengthcm  150 non-null    float64
 3   PetalWidthcm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [9]:
df.isnull().sum()

SepalLengthcm    0
SepalWidthcm     0
PetalLengthcm    0
PetalWidthcm     0
Species          0
dtype: int64

In [10]:
df.head()

   SepalLengthcm  SepalWidthcm  PetalLengthcm  PetalWidthcm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [11]:
df.tail()

     SepalLengthcm  SepalWidthcm  PetalLengthcm  PetalWidthcm         Species
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

In [13]:
df['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [14]:
x = df.drop('Species',axis=1)

In [15]:
y = df['Species']

In [16]:
x

     SepalLengthcm  SepalWidthcm  PetalLengthcm  PetalWidthcm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [17]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [18]:
from sklearn import train

ImportError: cannot import name 'train' from 'sklearn' (c:\Users\kaurs\Desktop\Data science\iris_project\ir_env\Lib\site-packages\sklearn\__init__.py)